table.rawhtml { 
    border-collapse: collapse;
}   

table.rawhtml * tr {
    border: 1px solid black;
}   
table.rawhtml * td, th {
    border: 1px dotted grey;
    padding: 5px;
}   

table.rawhtml * td {vertical-align: top;}

table.rawhtml * th.head {
    text-transform: capitalize;
    font-style: italic;
    font-weight: normal;
}

table.rawhtml * td.bold {font-weight: bold}

table.rawhtml * ul {
    padding: 0px;
    padding-left: 1em;
    margin: 0px;
}   

table.rawhtml * p {margin: 0; padding: 0}
